@model List<Api.Models.IzostanakViewModel>
@{
    ViewBag.Title = "Izostanci";
}

@Html.Partial("_ProfesorNavPartial")


@using (Html.BeginForm("SpremiIzostanke", "Profesor", FormMethod.Post, new { name = "formAnswerScheme", id = "formAnswerScheme" }))
{
    <a href="/Profesor/MojRazred"><div class="btn btn-primary pregledRazredOcjene">Pregledaj ocjene za razred</div></a>
    <div class="table-responsive">
        <table class="table table-bordered absanceTable">
            <thead>
                <tr>
                    <th class="tableIzostanci">Datum</th>
                    <th class="tableIzostanci">Predmet</th>
                    <th class="tableIzostanci">Ucenik</th>
                    <th class="tableIzostanci">Razlog</th>
                    <th class="tableIzostanci">Opravdanost</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(m => Model[i].id)
                        @Html.HiddenFor(m => Model[i].datum)
                        @Html.HiddenFor(m => Model[i].predmet)
                        @Html.HiddenFor(m => Model[i].ucenik)
                        <td class="izostanciUredenje">@Html.DisplayFor(m => Model[i].datum)</td>
                        <td class="izostanciUredenje">@Html.DisplayFor(m => Model[i].predmet)</td>
                        <td class="izostanciUredenje">@Html.DisplayFor(m => Model[i].ucenik)</td>
                        <td>
                            @Html.TextBoxFor(m => Model[i].razlog, new { Class = "form-control inputIzostanci", Value = Model[i].razlog })
                            @*<input type="text" class="form-control inputIzostanci"  value=@ViewBag.izostanci[i].razlog>*@
                        </td>
                        <td>
                            @*<select class="form-control inputIzostanci" id="inlineFormCustomSelect">
                                    <option value="1" @(  ViewBag.izostanci[i].opravdanost ? "selected" : "")>Opravdano</option>
                                    <option value="2" @(  !ViewBag.izostanci[i].opravdanost ? "selected" : "")>Neopravdano</option>
                                </select>*@
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Neopravdano",
                                    Value = bool.FalseString,
                                    Selected = Model[i].opravdanost == false
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Opravdano",
                                    Value = bool.TrueString,
                                    Selected = Model[i].opravdanost == true
                                });
                            }
                            @Html.DropDownListFor(m => Model[i].opravdanost, listItems, new { Class = "form-control inputIzostanci", Id = "inlineFormCustomSelect" })
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary saveChangeColor moveLeft" value="Spremi promjene" />
    </div>
}


