
@{
    ViewBag.Title = "Profil";
}

@Html.Partial("_ProfesorNavPartial")
<div class="profilData">
    <h1>Profil</h1>
    <br />
    <h3>Ime:</h3><p>@ViewBag.profesor.ime</p>
    <h3>Prezime:</h3><p>@ViewBag.profesor.prezime</p>
    <h3>Datum rođenja:</h3><p>@ViewBag.profesor.datumRodjenja.ToShortDateString()</p>
    <h3>OIB:</h3><p>@ViewBag.profesor.OIB</p>
    <h3>Adresa:</h3><p>@ViewBag.profesor.adresa</p>
    <h3>Mjesto:</h3><p>@ViewBag.profesor.mjesto.ime</p>
    <h3>e-mail:</h3><p>@ViewBag.profesor.email</p>
</div>

