
@{
    ViewBag.Title = "Izostanci";
}

@Html.Partial("_StudentNavPartial")
<div class="table-responsive">
    <table class="table table-bordered absanceTable">
        <thead>
            <tr>
                <th class="tableIzostanci">Datum</th>
                <th class="tableIzostanci">Predmet</th>
                <th class="tableIzostanci">Razlog</th>
                <th class="tableIzostanci">Opravdanost</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.izostanci.Count; i++)
            {
            <tr>
                <td>@ViewBag.izostanci[i].datumString</td>
                <td>@ViewBag.izostanci[i].predmet.naziv</td>
                <td>@ViewBag.izostanci[i].razlog</td>
                <td>@ViewBag.izostanci[i].opravdanostString</td>
            </tr>
            }
        </tbody>
    </table>
</div>

