
@{
    ViewBag.Title = "Predmeti";
}

@Html.Partial("_StudentNavPartial")
<div id="accordion" class="positionAccordion" role="tablist" aria-multiselectable="true">

@for (int i = 0; i < ViewBag.evidencija.Count; i++)
{
    <div class="card">
        <a class="collapsed subjectRow" data-toggle="collapse" data-parent="#accordion" href=@string.Format("#{0}",@i) aria-expanded="false" aria-controls="collapseTwo">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">@ViewBag.evidencija[i].predmet.naziv&nbsp;&nbsp; (prof. @ViewBag.evidencija[i].profesor.prezime)</h5>
           
            </div>
        </a>
        <div id=@i class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard">Kategorija</th>
                                    <th class="thCard">IX&nbsp;</th>
                                    <th class="thCard">X&nbsp;&nbsp;</th>
                                    <th class="thCard">XI&nbsp;</th>
                                    <th class="thCard">XII</th>
                                    <th class="thCard">I&nbsp;&nbsp;</th>
                                    <th class="thCard">II&nbsp;</th>
                                    <th class="thCard">III</th>
                                    <th class="thCard">IV&nbsp;</th>
                                    <th class="thCard">V&nbsp;&nbsp;</th>
                                    <th class="thCard">VI&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < ViewBag.evidencija[i].predmet.kategorije.Count; j++)
                                {
                                    <tr>
                                        <th class="thCard" scope="row">@ViewBag.evidencija[i].predmet.kategorije[j].naziv</th>
                                        @for (int m = 0; m < 10; m++)
                                        {
                                            <td id=@string.Format("{0}{1}{2}", @ViewBag.evidencija[i].predmet.naziv.Replace(" ", ""), @ViewBag.evidencija[i].predmet.kategorije[j].naziv.Replace(" ", ""), (@m + 8) % 12 + 1) class="ocjenaBox"></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard" colspan="2">Bilješke</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Datum</th>
                                    <th class="thCard">Zapis</th>
                                </tr>
                                @for (int j = 0; j < ViewBag.ucenik.biljeske.Count; j++)
                                {
                                    if (ViewBag.ucenik.biljeske[j].predmet == @ViewBag.evidencija[i].predmet)
                                    {
                                <tr>
                                    <td>@ViewBag.ucenik.biljeske[j].datumString</td>
                                    <td>@ViewBag.ucenik.biljeske[j].biljeska</td>
                                </tr>
                                        }
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var ocjene =  @Html.Raw(Json.Encode(((ICollection<Api.Models.OcjenaViewModel>) ViewBag.ocjene)));
            for (var i = 0; i < ocjene.length; i++) {
                $("#" + ocjene[i].predmet + ocjene[i].kategorija + ocjene[i].mjesec).append(ocjene[i].ocjena)
            }
        });
    </script>
}
