@model Api.Models.NoviRazredViewModel
@{
    ViewBag.Title = "DodajRazred";
}

@Html.Partial("_AdminNavPartial")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="registerContainer">

    <h2 class="loginSubtitle" style="color: orange">Dodaj novi Razred</h2>

    @using (Html.BeginForm("NoviRazered", "Administrator", FormMethod.Post, new { name = "formAnswerScheme", id = "form" }))
    {

        @Html.TextBoxFor(m => m.naziv, new { Class = "formInput", Name = "Naziv", Type = "text", Placeholder = "Naziv"})
        @Html.ValidationMessageFor(m => m.naziv)

        @Html.DropDownListFor(m => m.idSkola, new SelectList(ViewBag.skola, "idSkola", "naziv"), "Skola", new { Class = "form-control", Name = "idSkola" })
        @Html.ValidationMessageFor(m => m.idSkola, "", new { @class = "text-danger" })

        @Html.DropDownListFor(m => m.idRazednik, new SelectList(ViewBag.osoba, "idOsoba", "oibIme"), "Razrednik", new { Class = "form-control", Name = "idRazrednik" })
        @Html.ValidationMessageFor(m => m.idRazednik, "", new { @class = "text-danger" })


        <input class="formButton" type="submit" value="Dodaj" />
    }


</div>

